<footer>


</footer>

<!-- popper js // bootstrap drop down required popper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!-- bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!-- momentjs-->
<script type="text/javascript" src="../public/libs/daterangepicker/moment.min.js"></script>
<!-- date range picker-->
<script type="text/javascript" src="../public/libs/daterangepicker/daterangepicker.js"></script>
<!-- select2-->
<script src="../public/libs/select-2/select2.full.min.js"></script>

<!--sombal js-->
<script type="text/javascript" src="../public/libs/sombal.js"></script>

<!-- google maps -->

<script type="text/javascript">
    (function (window, $) {
        'use strict';

        var header = document.getElementsByTagName("header")[0];
        var body = document.getElementsByTagName("body")[0];
        var overlay = document.getElementById("overlay");
        var home_search = document.getElementById("home_search");
        var arrow = document.getElementsByClassName("arrow-top")[0];
        var search_tabs = $("#search_tabs");

        var l_current = $(".l_current ");
        var screen = $(window);
        var geocoder;
        var cl = localStorage.getItem('current_location');

        //Brusselslife Front End jQuery
        BrusselslifeFE = (function ($) {
            function BrusselslifeFE() {
                return {
                    init: function () {
                        _load();
                        _header();
                        _what();
                        _when();

                        _get_user_location();
                    }
                };
            }

            function _load() {
                console.log("Brusselslife v7.0 HTML");
            }

            function _header() {
                //screen scroll functions
                screen.scroll(function () {
                    if ($(document).scrollTop() > 180) {
                        header.classList.add("shrink-header");
                        header.classList.add("move");
                        home_search.classList.add('shrink');
                        body.classList.add("fixed-header");

                    } else {
                        header.classList.remove("shrink-header", "move");
                        body.classList.remove("fixed-header");
                        home_search.classList.remove('shrink');
                    }
                });

                //move top arrow
                if (arrow) {
                    arrow.style.right = (((screen.width() - 1024) / 2) - 52) + "px";
                    arrow.addEventListener('click', function () {
                        $("body,html").stop().animate({
                            scrollTop: 0
                        }, 350, 'swing');
                    });
                }

                //stop closing the dropdown
                var sc = document.getElementsByClassName("stop-closing");
                var i = sc.length;
                while (i--) {
                    sc[i].addEventListener('click', function (e) {
                        e.stopPropagation();
                        e.preventDefault();
//                        return false;
                    });
                }
                overlay.addEventListener('click', function () {
                    this.classList.remove('show');
                });

                $(".show-ov").on('click', function () {
                    overlay.classList.add("show");
                    $(".dropdown-menu").removeClass("show");
                });
            }

            function _what() {
                var ec = $("#event_categories");
                ec.select2();
//        ec.on('select2:select', function (e) {
//
//        });
            }

            function _when() {

                var start = moment().subtract(0, 'days');
                var end = moment();
                //set variables according to the language

                function cb(start, end) {
                    $('#reportrange').find("span").html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

                var date_range_picker = $("#date_range_picker");
                date_range_picker.daterangepicker({
                    startDate: start,
                    endDate: end,
                    autoApply: true,
                    alwaysShowCalendars: true,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);

                cb(start, end);
                date_range_picker.on('apply.daterangepicker', function (dr, picker) {
                    if (picker.startDate.format('YYYY-MM-DD') == picker.endDate.format('YYYY-MM-DD')) {
                        date_range_picker.attr('data-original-title', picker.startDate.format('YYYY-MM-DD'));
                    } else {
                        date_range_picker.attr('data-original-title', picker.startDate.format('YYYY-MM-DD') + "  -  " + picker.startDate.format('YYYY-MM-DD'));
                    }
                });
            }

            function _user_location() {
                geocoder = new google.maps.Geocoder;
                if (navigator.geolocation) {
                    cl = localStorage.getItem('current_location');
                    if (cl == null || cl == '') {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            geocoder.geocode({
                                'location': {
                                    lat: position.coords.latitude,
                                    lng: position.coords.longitude
                                }
                            }, function (results, status) {
                                if (status === 'OK') {

                                    l_current.find("span").text(results[0].formatted_address);
                                    localStorage.setItem('current_location', results[0].formatted_address);


                                } else {
                                    l_current.find("alert").fadeIn().text("Location not found. Please refresh your browser, or enable geo location");
                                }
                            });
                        });
                    } else {
                        l_current.find("span").text(cl);
                    }
                }
                var input = document.getElementsByClassName('pac-input');
                var ip = input.length;
                while (ip--) {
                    var autocomplete = new google.maps.places.Autocomplete(input[ip]);
                    autocomplete.addListener('place_changed', function () {
                        var p = autocomplete.getPlace();
                        l_current.find("span").text(p.formatted_address);
                        localStorage.setItem('current_location', p.formatted_address);
                    });
                }

            }

            function _get_user_location() {

                $(".get_user_location").on('click', function () {
                    _user_location();
                });

                $(".btn_relocate").on('click', function (e) {
                    e.preventDefault();
                    navigator.geolocation.getCurrentPosition(function (position) {
                        geocoder.geocode({
                            'location': {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            }
                        }, function (results, status) {
                            if (status === 'OK') {

                                l_current.find("span").text(results[0].formatted_address);
                                localStorage.setItem('current_location', results[0].formatted_address);


                            } else {
                                l_current.find("alert").fadeIn().text("Location not found. Please refresh your browser, or enable geo location");
                            }
                        });
                    });
                });


            }

            return BrusselslifeFE;
        })(jQuery);
        var BrusselslifeFE = new BrusselslifeFE();
        BrusselslifeFE.init();
    })(window, jQuery);
</script>

