---
layout : default.html
title : Service booking History
---

<article id="bosh_theme" class="bosh-bg">
    <div class="bosh service-booking">
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <img src="../public/images/bosh_logo.png" class="bosh_logo" alt="">
                    </div>

                    <div class="col-md-8">
                        <h2>
                            Service booking and online payment portal
                        </h2>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown profile-dropdown">
                            <button class="btn btn-secondary dropdown-toggle"
                                    type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <img src="../public/images/profile.png" alt="">
                                Username here
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">My Profile</a>
                                <a class="dropdown-item" href="#">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 left-nav">


                    <nav>
                        <ul>
                            <li class="active">
                                <a href="#">
                                    <img src="../public/svg/service-booking.svg" alt=""> <span>
                                   Service booking
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../public/svg/pay-online.svg" alt=""> <span>
                                    Pay online
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../public/svg/booking-history.svg" alt=""> <span>
                                    Booking history
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../public/svg/my-vehicle.svg" alt=""> <span>
                                    My vehicles
                                </span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <div class="col-md-10 bg-white">

                    <div class="form-content">
                        <h2 class="d-flex">
                            <img class="brand-logo"
                                 src="../public/images/benz-logo.png" alt=""/>

                            Booking history
                        </h2>

                        <div class="card shadow p-0 border-0">
                            <div class="card-body">
                                <div class="booking-history-table table-responsive">
                                    <table cellpadding="0" cellspacing="0" class="table table-striped table-hover">

                                        <thead class="thead-dark ">
                                        <tr>
                                            <th>
                                                No
                                            </th>
                                            <th>
                                                Booking #ID
                                            </th>
                                            <th>
                                                Brand
                                            </th>
                                            <th>
                                                Model
                                            </th>
                                            <th>
                                                Vehicle number
                                            </th>
                                            <th>
                                                Date / Time
                                            </th>
                                            <th>
                                                Service Category
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Action
                                            </th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                #1025
                                            </td>

                                            <td>
                                                Lorem ipsum dolor sit amet.
                                            </td>
                                            <td>
                                                Lorem ipsum dolor sit amet.
                                            </td>
                                            <td>
                                                WP CAM 3356
                                            </td>
                                            <td>
                                                2018-10-09 11:30:00
                                            </td>
                                            <td>
                                                Full lube service
                                            </td>
                                            <td>
                                       <span class="badge badge-success">
                                            Completed
                                        </span>
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-outline-secondary btn-sm">View Details</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                #1025
                                            </td>

                                            <td>
                                                Lorem ipsum dolor sit amet.
                                            </td>
                                            <td>
                                                Lorem ipsum dolor sit amet.
                                            </td>
                                            <td>
                                                WP CAM 3356
                                            </td>
                                            <td>
                                                2018-10-09 11:30:00
                                            </td>
                                            <td>
                                                Full lube service
                                            </td>
                                            <td>
                                       <span class="badge badge-info">
                                            Accepted
                                        </span>
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-outline-secondary btn-sm">View Details</a>
                                            </td>
                                        </tr>


                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</article>
