---
layout : default.html
title : Service booking Details
---

<article id="bosh_theme" class="bosh-bg">
    <div class="bosh service-booking">
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <img src="../public/images/bosh_logo.png" class="bosh_logo" alt="">
                    </div>

                    <div class="col-md-8">
                        <h2>
                            Service booking and online payment portal
                        </h2>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown profile-dropdown">
                            <button class="btn btn-secondary dropdown-toggle"
                                    type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <img src="../public/images/profile.png" alt="">
                                Username here
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">My Profile</a>
                                <a class="dropdown-item" href="#">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 left-nav">


                    <nav>
                        <ul>
                            <li class="active">
                                <a href="#">
                                    <img src="../public/svg/service-booking.svg" alt=""> <span>
                                   Service booking
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../public/svg/pay-online.svg" alt=""> <span>
                                    Pay online
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../public/svg/booking-history.svg" alt=""> <span>
                                    Booking history
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../public/svg/my-vehicle.svg" alt=""> <span>
                                    My vehicles
                                </span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <div class="col-md-10 bg-white">

                    <div class="form-content">
                        <h2 class="d-flex">
                            <img class="brand-logo"
                                 src="../public/images/benz-logo.png" alt=""/>

                            Booking #1035 - Status <label class="badge-success">Completed</label>
                        </h2>
                        <form action="!#">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-element">
                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i>Vehicle
                                        </label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>
                                    <div class="form-element">
                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i> Service type
                                        </label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>
                                    <div class="form-element">
                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i>Service Advisor
                                        </label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>
                                    <div class="form-element">
                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i> WIP Number
                                        </label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-element">
                                    <label><i class="fa fa-info-circle" aria-hidden="true"></i>Brand
                                    </label>
                                    <input type="text" placeholder="" class="form-control">
                                </div>

                                    <div class="form-element">
                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i>Model
                                        </label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>


                                    <div class="form-element">
                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i>Date
                                        </label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>

                                    <div class="form-element">
                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i>Time
                                        </label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>

                                    <div class="form-element">
                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i>Pickup address
                                        </label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>

                                    <div class="form-element">
                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i>Pickup address
                                        </label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                Payment details
                                            </h5>
                                        </div>
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-element">
                                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i>Payment
                                                            type
                                                        </label>
                                                        <input type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-element">
                                                        <label><i class="fa fa-info-circle" aria-hidden="true"></i>Invoice
                                                            Totoal (LKR)
                                                        </label>
                                                        <input type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-element">
                                                        <label for=""></label>
                                                        <table cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td>
                                                                    <a href="#pdf" class="btn btn-link btn-lg">
                                                                        <i class="fa fa-file-o" aria-hidden="true"></i> Invoice (PDF)
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a href="#" class="btn btn-outline-secondary btn-lg"><i
                                                                            class="fa fa-download"
                                                                            aria-hidden="true"></i> Download</a>
                                                                </td>
                                                                <td>
                                                                    <a href="#" class="btn  btn-outline-secondary btn-lg"><i
                                                                            class="fa fa-eye" aria-hidden="true"></i>
                                                                        View</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>
