---
layout : default.html
title : Service booking
---


<article>
    <div class="dimo-landing">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 dimo_logo_wrapper">
                        <img class="dimo_logo"
                             src="../public/images/dimo_logo.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2>
                            Service booking and online payment portal
                        </h2>
                    </div>
                    <div class="col-md-3 ">
                        <img class="tech_logo" src="{{assets}}images/dimo_technology_logo.png" alt="">
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <p class="text-center my-4">
                Choose your vehicle model to proceed service booking
            </p>
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="b-passenger">
                        <figure>
                            <img src="public/images/benz-logo.png" alt="">
                            <img src="public/images/benz-text.png" class="b-text" alt="">
                        </figure>
                        <figure class="car b-passenger">
                            <img src="public/images/benz-passenger.png" alt="">
                            <p>
                                Passenger vehicle
                            </p>
                        </figure>


                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="b-commercial">
                        <figure>
                            <img src="public/images/benz-logo.png" alt="">
                            <img src="public/images/benz-text.png" class="b-text" alt="">
                        </figure>
                        <figure class="car b-commercial">
                            <img src="public/images/benz.png" alt="">
                            <p>
                                Commercial vehicle
                            </p>
                        </figure>


                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="chrysler">
                        <figure>
                            <img src="public/images/chrysler-logo.png" class="c-logo" alt="">
                        </figure>
                        <figure class="car chrysler">
                            <img src="public/images/chrysler.png" alt="">

                        </figure>

                    </a>
                </div>

                <div class="col-md-3">
                    <a href="#" class="jeep">
                        <figure>
                            <img src="public/images/jeep-logo.png" class="j-logo" alt="">
                        </figure>
                        <figure class="car jeep">
                            <img src="public/images/jeep.png" alt="">


                        </figure>

                    </a>
                </div>
            </div>
        </div>

    </div>


    <div class="bosh-landing">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img class="bosh_logo" src="public/images/bosh_logo.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <h2>
                            Service booking and online payment portal
                        </h2>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <p class="text-center my-4">
                        Choose your vehicle model to proceed service booking
                    </p>
                    <a href="#">
                        <img src="public/images/car-gray-scale.png" alt="">
                        <button class="btn btn-default">
                            +
                        </button>
                    </a>

                </div>
            </div>
        </div>
    </div>


</article>

